Repository zio/zio: changes, and which Codecov flags are due for each by the changed paths.
All: core, interop

Almost fix racePair to adhere to cats-effect laws, isolate cases that ZIO fails at
  core/jvm/src/test/scala/scalaz/zio/RTSSpec.scala
  interop-cats-laws/src/test/scala/scalaz/zio/interop/catzSpec.scala
  interop/jvm/src/main/scala/scalaz/zio/interop/catsjvm.scala
Due: core, interop

override defaultHandler to reduce stdout noize
  interop-cats-laws/src/test/scala/scalaz/zio/interop/catzSpec.scala
Due: none

remove erroneous test, remove upTo
  core/jvm/src/test/scala/scalaz/zio/RTSSpec.scala
Due: core

fmt
  build.sbt
  core/jvm/src/test/scala/scalaz/zio/RTSSpec.scala
  interop-cats-laws/src/test/scala/scalaz/zio/interop/catzSpec.scala
  interop/jvm/src/main/scala/scalaz/zio/interop/catsjvm.scala
Due: core, interop

Try cats-effect-1.0.0 Concurrent ConcurrentEffect
  build.sbt
  core/jvm/src/test/scala/scalaz/zio/RTSSpec.scala
  interop-cats-laws/src/test/scala/scalaz/zio/interop/catzSpec.scala
  interop/jvm/src/main/scala/scalaz/zio/interop/catsjvm.scala
  project/build.properties
Due: core, interop

Override cancelOnBracketReleases with zio version, simplify racePair
  interop-cats-laws/src/test/scala/scalaz/zio/interop/catzSpec.scala
  interop/jvm/src/main/scala/scalaz/zio/interop/catsjvm.scala
Due: interop

Override asyncCancelableReceivesCancelSignal
  interop-cats-laws/src/test/scala/scalaz/zio/interop/catzSpec.scala
  interop/jvm/src/main/scala/scalaz/zio/interop/catsjvm.scala
Due: interop

Include stub of ConcurrentEffect
  core/jvm/src/test/scala/scalaz/zio/RTSSpec.scala
  interop-cats-laws/src/test/scala/scalaz/zio/interop/catzSpec.scala
  interop/jvm/src/main/scala/scalaz/zio/interop/catsjvm.scala
Due: core, interop

cleanup: remove printlns, remove cats laws overrides
  interop-cats-laws/src/test/scala/scalaz/zio/interop/catzSpec.scala
  interop/jvm/src/main/scala/scalaz/zio/interop/catsjvm.scala
Due: interop

bring back deleted tests
  core/jvm/src/test/scala/scalaz/zio/RTSSpec.scala
Due: core

updated site
  css/palette.css
  css/style.css
  img/jumbotron_pattern.png
  index.html
  interop.html
  usage/bracket.html
  usage/console.html
  usage/failure.html
  usage/fiberlocal.html
  usage/fibers.html
  usage/index.html
  usage/main.html
  usage/mapping.html
  usage/performance.html
  usage/promise.html
  usage/purity.html
  usage/queue.html
  usage/ref.html
  usage/schedules.html
  usage/system.html
Due: none

moved 'Test' from the top-level, into the companion object for Clock
  core/jvm/src/test/scala/scalaz/zio/ClockSpec.scala
  core/shared/src/main/scala/scalaz/zio/Clock.scala
Due: core

Fix breaking publishing
  core/jvm/src/main/scala/scalaz/zio/internal/impls/RingBuffer.scala
  core/shared/src/main/scala/scalaz/zio/IO.scala
  core/shared/src/main/scala/scalaz/zio/internal/MutableConcurrentQueue.scala
Due: core

Other fixes
  core/js/src/main/scala/scalaz/zio/internal/impls/RingBuffer.scala
  core/jvm/src/main/scala/scalaz/zio/internal/impls/RingBuffer.scala
  core/shared/src/main/scala/scalaz/zio/internal/MutableConcurrentQueue.scala
Due: core

updated site
  index.html
  interop.html
  usage/console.html
  usage/system.html
Due: none

Replace parTraverse by traverse for completing promises
  core/shared/src/main/scala/scalaz/zio/Queue.scala
Due: core

Move ensuring scope to always clean putters/takers
  core/shared/src/main/scala/scalaz/zio/Queue.scala
Due: core

update sbt and sbt plugins.
  project/build.properties
  project/plugins.sbt
Due: none

Restore links to Scala library
  core/shared/src/main/scala/scalaz/zio/internal/MutableConcurrentQueue.scala
Due: core

Add Travis task to check scaladoc
  .travis.yml
Due: none

Enable API doc lookup in JAR meta
  project/ScalazBuild.scala
Due: none

Formatting
  interop/shared/src/main/scala/scalaz/zio/interop/future.scala
Due: interop

Convert scala blocks to tut blocks
  microsite/src/main/tut/usage/bracket.md
  microsite/src/main/tut/usage/failure.md
  microsite/src/main/tut/usage/fibers.md
  microsite/src/main/tut/usage/purity.md
  microsite/src/main/tut/usage/ref.md
Due: none

Missing type
  microsite/src/main/tut/usage/purity.md
Due: none

Create java versions of Either and Tuple and fix compilation issues
  interop-java/src/main/java/scalaz/zio/java/IO.java
  interop-java/src/main/java/scalaz/zio/java/data/Either.java
  interop-java/src/main/java/scalaz/zio/java/data/Tuple.java
Due: none

Add a few more functions
  interop-java/src/main/java/scalaz/zio/java/IO.java
Due: none

Path conditions:
  core: any of: core/
  interop: any of: interop/
