Repository zio/zio: changes, and which Codecov flags are due for each by the changed paths.
All: core, interop

.codecov.yml:

comment: off
coverage:
  status:
    project:
      default: off
    core:
        flags: core
        target: auto
        threshold: 100
        base: auto
    interop:
        flags: interop
        target: auto
        threshold: 100
        base: auto
    patch:
      default: off
      core:
        flags: core
        threshold: 100
        base: auto
      interop:
        flags: interop
        threshold: 100
        base: auto
flags:
  core:
    paths:
      - core/
  interop:
    paths:
      - interop/

refactor spec after review
  .scalafmt.conf
  src/test/scala/scalaz/ioqueue/QueueSpec.scala
Due: none

format code
  src/test/scala/scalaz/ioqueue/QueueSpec.scala
Due: none

fix test
  src/test/scala/scalaz/ioqueue/QueueSpec.scala
Due: none

fmt
  src/main/scala/scalaz/ioqueue/Queue.scala
Due: none

Realign test numbers
  src/test/scala/scalaz/ioqueue/QueueSpec.scala
Due: none

Refactoring: in Queue, inline and remove method ifNotDone
  core/shared/src/main/scala/scalaz/zio/Queue.scala
Due: core

Optimize Queue: avoid most linear traversals
  src/main/scala/scalaz/ioqueue/Queue.scala
Due: none

Add `Fiber#observe`, use it to define `Fiber#join`
  core/shared/src/main/scala/scalaz/zio/Fiber.scala
Due: core

Define `IO#run` and `IO.bracket0` with `Fiber#observe`
  core/shared/src/main/scala/scalaz/zio/IO.scala
Due: core

Maintain list of observers
  core/jvm/src/main/scala/scalaz/zio/RTS.scala
Due: core

Submit result to observers
  core/jvm/src/main/scala/scalaz/zio/RTS.scala
Due: core

Remove `FiberStatus#joiners`
  core/jvm/src/main/scala/scalaz/zio/RTS.scala
Due: core

Remove `Fiber#onComplete`
  core/jvm/src/main/scala/scalaz/zio/RTS.scala
  core/shared/src/main/scala/scalaz/zio/Fiber.scala
Due: core

Remove `FiberStatus#exitHandlers`
  core/jvm/src/main/scala/scalaz/zio/RTS.scala
Due: core

Rewrite `FiberContext#register`
  core/jvm/src/main/scala/scalaz/zio/RTS.scala
Due: core

Remove exit handlers test
  core/jvm/src/test/scala/scalaz/zio/RTSSpec.scala
Due: core

Fix future
  interop/shared/src/main/scala/scalaz/zio/interop/future.scala
Due: interop

Formatting
  core/shared/src/main/scala/scalaz/zio/Fiber.scala
Due: core

Add `bracket0` tests
  core/jvm/src/test/scala/scalaz/zio/RTSSpec.scala
Due: core

Readme Sonatype badge link fix
  README.md
Due: none
