Repository zio/zio: changes, and which Codecov flags are due for each by the changed paths.
All: core, interop

.codecov.yml:

comment: off
coverage:
  status:
    project:
      default: off
    core:
        flags: core
        target: auto
        threshold: 100
        base: auto
    interop:
        flags: interop
        target: auto
        threshold: 100
        base: auto
    patch:
      default: off
      core:
        flags: core
        threshold: 100
        base: auto
      interop:
        flags: interop
        threshold: 100
        base: auto
flags:
  core:
    paths:
      - core/
  interop:
    paths:
      - interop/

address review
  core/jvm/src/test/scala/scalaz/zio/RTSSpec.scala
  core/shared/src/main/scala/scalaz/zio/IO.scala
  interop/jvm/src/main/scala/scalaz/zio/interop/catsjvm.scala
Due: core, interop

Remove raceAttempt
  core/jvm/src/test/scala/scalaz/zio/RTSSpec.scala
  core/shared/src/main/scala/scalaz/zio/IO.scala
Due: core

Fix #348 Add raceAttempt, race combinator with cats-effecty semantics
  core/jvm/src/test/scala/scalaz/zio/RTSSpec.scala
  core/shared/src/main/scala/scalaz/zio/IO.scala
Due: core

Multiple improvements based on review
  interop-java/src/main/java/scalaz/zio/java/IO.java
  interop-java/src/main/java/scalaz/zio/java/data/Either.java
  interop-java/src/main/java/scalaz/zio/java/data/Tuple.java
Due: none

Remove obsolete TODOs
  interop-java/src/main/java/scalaz/zio/java/IO.java
Due: none

fmt
  core/jvm/src/test/scala/scalaz/zio/RTSSpec.scala
  core/shared/src/main/scala/scalaz/zio/IO.scala
Due: core

Optimize toFuture
  interop/shared/src/main/scala/scalaz/zio/interop/future.scala
Due: interop

scalafmt
  interop/shared/src/main/scala/scalaz/zio/interop/future.scala
Due: interop

Improve testability of Schedule.jittered through extra parameter for random component
  core/jvm/src/test/scala/scalaz/zio/RetrySpec.scala
  core/shared/src/main/scala/scalaz/zio/Schedule.scala
Due: core

Make code uninterruptible when needed Add syncSubmit to IO
  core/jvm/src/main/scala/scalaz/zio/RTS.scala
  core/shared/src/main/scala/scalaz/zio/IO.scala
  core/shared/src/main/scala/scalaz/zio/Queue.scala
Due: core

Avoid useless allocations
  core/jvm/src/main/scala/scalaz/zio/RTS.scala
  core/shared/src/main/scala/scalaz/zio/IO.scala
  core/shared/src/main/scala/scalaz/zio/Promise.scala
  core/shared/src/main/scala/scalaz/zio/Queue.scala
Due: core

Add benchmarks
  benchmarks/src/main/scala/scalaz/zio/QueueBackPressureBenchmark.scala
  benchmarks/src/main/scala/scalaz/zio/QueueParallelBenchmark.scala
  benchmarks/src/main/scala/scalaz/zio/QueueSequentialBenchmark.scala
  build.sbt
Due: none

Remove takers/putters only on Termination
  core/jvm/src/test/scala/scalaz/zio/QueueSpec.scala
  core/shared/src/main/scala/scalaz/zio/Queue.scala
Due: core

Replace Unit with Any in method signatures
  core/jvm/src/main/scala/scalaz/zio/RTS.scala
  core/shared/src/main/scala/scalaz/zio/Fiber.scala
  core/shared/src/main/scala/scalaz/zio/IO.scala
  core/shared/src/main/scala/scalaz/zio/Managed.scala
  core/shared/src/main/scala/scalaz/zio/Promise.scala
Due: core

Fixes #366: consistance for repeat/retry with recurs/once
  core/jvm/src/test/scala/scalaz/zio/RepeatSpec.scala
  core/jvm/src/test/scala/scalaz/zio/RetrySpec.scala
  core/shared/src/main/scala/scalaz/zio/IO.scala
  core/shared/src/main/scala/scalaz/zio/Schedule.scala
Due: core

Correct test on queue using repeat to use the semantic 1+(num of repeat)
  core/jvm/src/test/scala/scalaz/zio/QueueSpec.scala
Due: core

Adding a test on repeat of repeat, which does not give what I'd expect
  core/jvm/src/test/scala/scalaz/zio/RepeatSpec.scala
Due: core

Reformat code
  core/jvm/src/test/scala/scalaz/zio/RepeatSpec.scala
  core/jvm/src/test/scala/scalaz/zio/RetrySpec.scala
Due: core

Correct comments
  core/jvm/src/test/scala/scalaz/zio/RepeatSpec.scala
  core/jvm/src/test/scala/scalaz/zio/RetrySpec.scala
  core/shared/src/main/scala/scalaz/zio/IO.scala
  core/shared/src/main/scala/scalaz/zio/Schedule.scala
Due: core

Correct comments
  core/jvm/src/test/scala/scalaz/zio/RetrySpec.scala
Due: core

Actually test the value in ref, not the number of recurse in second schedule
  core/jvm/src/test/scala/scalaz/zio/RepeatSpec.scala
  core/jvm/src/test/scala/scalaz/zio/RetrySpec.scala
Due: core
