Repository zio/zio: changes, and which Codecov flags are due for each by the changed paths.
All: core, interop

.codecov.yml:

comment: off
coverage:
  status:
    project:
      default: off
    core:
        flags: core
        target: auto
        threshold: 100
        base: auto
    interop:
        flags: interop
        target: auto
        threshold: 100
        base: auto
    patch:
      default: off
      core:
        flags: core
        threshold: 100
        base: auto
      interop:
        flags: interop
        threshold: 100
        base: auto
flags:
  core:
    paths:
      - core/
  interop:
    paths:
      - interop/

fix the test as suggested
  core/jvm/src/test/scala/scalaz/zio/FiberSpec.scala
Due: core

wait for the fiber to update the ref in FiberSpec (#652)
  core/jvm/src/test/scala/scalaz/zio/FiberSpec.scala
Due: core

Fixed doc and added specs
  core/jvm/src/test/scala/scalaz/zio/IOSpec.scala
  core/shared/src/main/scala/scalaz/zio/ZIO.scala
Due: core

updated site
  advanced/system.html
  datatypes/managed.html
  getting_started.html
  index.html
  interop/catseffect.html
  interop/javascript.html
  overview/creating_effects.html
  overview/handling_resources.html
  overview/index.html
  overview/testing_effects.html
Due: interop

Make ZIO.access and accessM use curried type parameter lists
  core/shared/src/main/scala/scalaz/zio/ZIO.scala
  microsite/src/main/tut/overview/testing_effects.md
Due: core

Allow conversion between ZIO streams and Reactive Streams in both directions (#615)
  .travis.yml
  build.sbt
  core/jvm/src/test/scala/scalaz/zio/QueueSpec.scala
  core/jvm/src/test/scala/scalaz/zio/stream/StreamSpec.scala
  core/shared/src/main/scala/scalaz/zio/Queue.scala
  core/shared/src/main/scala/scalaz/zio/stream/ZStream.scala
  interop-reactiveStreams/jvm/src/test/scala/scalaz/zio/interop/reactiveStreams/PublisherToStreamSpec.scala
  interop-reactiveStreams/jvm/src/test/scala/scalaz/zio/interop/reactiveStreams/QueueSubscriberSpec.scala
  interop-reactiveStreams/jvm/src/test/scala/scalaz/zio/interop/reactiveStreams/SinkToSubscriberTest.scala
  interop-reactiveStreams/jvm/src/test/scala/scalaz/zio/interop/reactiveStreams/StreamToPublisherTest.scala
  interop-reactiveStreams/jvm/src/test/scala/scalaz/zio/interop/reactiveStreams/SubscriberToSinkSpec.scala
  interop-reactiveStreams/shared/src/main/scala/scalaz/zio/interop/reactiveStreams.scala
  interop-reactiveStreams/shared/src/main/scala/scalaz/zio/interop/reactiveStreams/Adapters.scala
  interop-reactiveStreams/shared/src/main/scala/scalaz/zio/interop/reactiveStreams/QueueSubscriber.scala
  interop-reactiveStreams/shared/src/main/scala/scalaz/zio/interop/reactiveStreams/SinkSubscriber.scala
  interop-reactiveStreams/shared/src/main/scala/scalaz/zio/interop/reactiveStreams/StreamPublisher.scala
  interop-reactiveStreams/shared/src/main/scala/scalaz/zio/interop/reactiveStreams/SubscriberHelpers.scala
  interop-reactiveStreams/shared/src/main/scala/scalaz/zio/interop/reactiveStreams/package.scala
  microsite/src/main/tut/interop/reactivestreams.md
Due: core

Defer need for R in toFuture/toFutureWith
  core/shared/src/main/scala/scalaz/zio/ZIO.scala
Due: core

Fix #646, delete unused type parameter
  core/jvm/src/test/scala/scalaz/zio/IOSpec.scala
  core/shared/src/main/scala/scalaz/zio/ZIO.scala
Due: core

Fix #646, delete unused type parameter (#655)
  core/jvm/src/test/scala/scalaz/zio/IOSpec.scala
  core/shared/src/main/scala/scalaz/zio/ZIO.scala
Due: core

Uncurried versions of 'bracket' and 'bracketExit' (#617)
  core/jvm/src/test/scala/scalaz/zio/IOSpec.scala
  core/shared/src/main/scala/scalaz/zio/ZIO.scala
Due: core

updated site
  advanced/system.html
  getting_started.html
  index.html
  interop/javascript.html
  interop/reactivestreams.html
  overview/handling_resources.html
  overview/testing_effects.html
Due: interop

use accessM to expose services' methods
  core/jvm/src/main/scala/scalaz/zio/blocking/package.scala
  core/shared/src/main/scala/scalaz/zio/clock/package.scala
  core/shared/src/main/scala/scalaz/zio/console/package.scala
  core/shared/src/main/scala/scalaz/zio/random/package.scala
  core/shared/src/main/scala/scalaz/zio/scheduler/package.scala
  core/shared/src/main/scala/scalaz/zio/system/package.scala
Due: core

remove unnecessary edits
  core/jvm/src/main/scala/scalaz/zio/blocking/package.scala
  core/jvm/src/test/scala/scalaz/zio/stream/StreamSpec.scala
  core/shared/src/main/scala/scalaz/zio/clock/package.scala
  core/shared/src/main/scala/scalaz/zio/console/package.scala
  core/shared/src/main/scala/scalaz/zio/random/package.scala
  core/shared/src/main/scala/scalaz/zio/scheduler/package.scala
  core/shared/src/main/scala/scalaz/zio/system/package.scala
Due: core

cosmetic changes and coating
  core/shared/src/main/scala/scalaz/zio/clock/package.scala
  core/shared/src/main/scala/scalaz/zio/random/package.scala
  core/shared/src/main/scala/scalaz/zio/scheduler/package.scala
  core/shared/src/main/scala/scalaz/zio/system/package.scala
Due: core

quick fix for 2.12
  core/shared/src/main/scala/scalaz/zio/Fiber.scala
Due: core

fix discarded value for scala 2.11
  core/shared/src/main/scala/scalaz/zio/Fiber.scala
  project/ScalazBuild.scala
Due: core

add warning comments
  core/jvm/src/main/scala/scalaz/zio/blocking/package.scala
  core/shared/src/main/scala/scalaz/zio/clock/package.scala
  core/shared/src/main/scala/scalaz/zio/console/package.scala
  core/shared/src/main/scala/scalaz/zio/random/package.scala
  core/shared/src/main/scala/scalaz/zio/scheduler/package.scala
  core/shared/src/main/scala/scalaz/zio/system/package.scala
Due: core

lint error
  core/jvm/src/main/scala/scalaz/zio/blocking/package.scala
  core/shared/src/main/scala/scalaz/zio/system/package.scala
Due: core

add specific scala-version for service packages
  core/jvm/src/main/scala-2.11/blocking.scala
  core/jvm/src/main/scala-2.12/blocking.scala
  core/shared/src/main/scala-2.11/clock.scala
  core/shared/src/main/scala-2.11/console.scala
  core/shared/src/main/scala-2.11/random.scala
  core/shared/src/main/scala-2.11/scheduler.scala
  core/shared/src/main/scala-2.11/system.scala
  core/shared/src/main/scala-2.12+/clock.scala
  core/shared/src/main/scala-2.12+/console.scala
  core/shared/src/main/scala-2.12+/random.scala
  core/shared/src/main/scala-2.12+/scheduler.scala
  core/shared/src/main/scala-2.12+/system.scala
Due: core

fix for scala 2.11, import Stream.ConformsAnyProof
  interop-reactiveStreams/shared/src/main/scala/scalaz/zio/interop/reactiveStreams/Adapters.scala
Due: none

Fixes to support scala 2.11 (#650)
  .travis.yml
  core/jvm/src/main/scala-2.11/blocking.scala
  core/jvm/src/main/scala-2.12/blocking.scala
  core/jvm/src/test/scala/scalaz/zio/stream/StreamSpec.scala
  core/shared/src/main/scala-2.11/clock.scala
  core/shared/src/main/scala-2.11/console.scala
  core/shared/src/main/scala-2.11/random.scala
  core/shared/src/main/scala-2.11/scheduler.scala
  core/shared/src/main/scala-2.11/system.scala
  core/shared/src/main/scala-2.12+/clock.scala
  core/shared/src/main/scala-2.12+/console.scala
  core/shared/src/main/scala-2.12+/random.scala
  core/shared/src/main/scala-2.12+/scheduler.scala
  core/shared/src/main/scala-2.12+/system.scala
  core/shared/src/main/scala/scalaz/zio/Fiber.scala
  interop-reactiveStreams/shared/src/main/scala/scalaz/zio/interop/reactiveStreams/Adapters.scala
  project/ScalazBuild.scala
Due: core

Add TestRandom to testkit (#623)
  testkit/jvm/src/main/scala/scalaz/zio/testkit/TestRandom.scala
  testkit/jvm/src/test/scala/scalaz/zio/testkit/RandomSpec.scala
Due: none

Add TestRandom to testkit (#623) (#653)
  testkit/jvm/src/main/scala/scalaz/zio/testkit/TestRandom.scala
  testkit/jvm/src/test/scala/scalaz/zio/testkit/RandomSpec.scala
Due: none

reimplement QueueSubscriber without using Take
  interop-reactiveStreams/jvm/src/test/scala/scalaz/zio/interop/reactiveStreams/PublisherToStreamSpec.scala
  interop-reactiveStreams/jvm/src/test/scala/scalaz/zio/interop/reactiveStreams/QueueSubscriberSpec.scala
  interop-reactiveStreams/shared/src/main/scala/scalaz/zio/interop/reactiveStreams/Adapters.scala
  interop-reactiveStreams/shared/src/main/scala/scalaz/zio/interop/reactiveStreams/QueueSubscriber.scala
  interop-reactiveStreams/shared/src/main/scala/scalaz/zio/interop/reactiveStreams/package.scala
Due: none

Improve microsite #417
  microsite/src/main/resources/microsite/css/override.css
  microsite/src/main/tut/usecases/concurrency.md
  microsite/src/main/tut/usecases/parallelism.md
Due: none

Fix broken link
  CONTRIBUTING.md
Due: none

Fix orElse behavior on retry/failure of left and add tests for it
  core/jvm/src/test/scala/scalaz/zio/STMSpec.scala
  core/shared/src/main/scala/scalaz/zio/STM.scala
Due: core

Fix broken link (#662)
  CONTRIBUTING.md
Due: none

fmt
  core/shared/src/main/scala/scalaz/zio/STM.scala
Due: core
