Repository zio/zio: changes, and which Codecov flags are due for each by the changed paths.
All: core, interop

Rename variables
  core/shared/src/main/scala/scalaz/zio/IO.scala
Due: core

updated site
  index.html
  interop.html
  usage/bracket.html
  usage/console.html
  usage/failure.html
  usage/fiberlocal.html
  usage/fibers.html
  usage/index.html
  usage/main.html
  usage/mapping.html
  usage/performance.html
  usage/promise.html
  usage/purity.html
  usage/ref.html
  usage/schedules.html
  usage/system.html
Due: none

Make Queue Serializable
  core/shared/src/main/scala/scalaz/zio/Queue.scala
Due: core

Refactor Fail and Redeem
  core/jvm/src/main/scala/scalaz/zio/RTS.scala
  core/jvm/src/test/scala/scalaz/zio/AbstractRTSSpec.scala
  core/jvm/src/test/scala/scalaz/zio/IOSpec.scala
  core/jvm/src/test/scala/scalaz/zio/IOSyntaxSpec.scala
  core/jvm/src/test/scala/scalaz/zio/RTSSpec.scala
  core/shared/src/main/scala/scalaz/zio/Errors.scala
  core/shared/src/main/scala/scalaz/zio/ExitResult.scala
  core/shared/src/main/scala/scalaz/zio/IO.scala
  core/shared/src/main/scala/scalaz/zio/RefM.scala
  core/shared/src/main/scala/scalaz/zio/syntax/IOSyntax.scala
  core/shared/src/main/scala/scalaz/zio/syntax/syntax.scala
  interop/jvm/src/test/scala/scalaz/zio/interop/futureSpec.scala
Due: core, interop

New App run signature and default ExecutionContext
  core/jvm/src/main/scala/scalaz/zio/App.scala
  core/jvm/src/main/scala/scalaz/zio/RTS.scala
Due: core

Rewrite `releaseN` without `Promise.bracket`
  core/shared/src/main/scala/scalaz/zio/Semaphore.scala
Due: core

Use `Ref.modify` and make the whole thing atomic 😎
  core/shared/src/main/scala/scalaz/zio/Semaphore.scala
Due: core

Make tool tail-recursive
  core/shared/src/main/scala/scalaz/zio/Semaphore.scala
Due: core

Restore `acquireN`
  core/shared/src/main/scala/scalaz/zio/Semaphore.scala
Due: core

Fix syntax for scala 2.11
  core/shared/src/main/scala/scalaz/zio/Schedule.scala
Due: core

Remove default Clock.Live on run but have it on re[peat|try](OrElse?)
  core/shared/src/main/scala/scalaz/zio/IO.scala
  core/shared/src/main/scala/scalaz/zio/Schedule.scala
Due: core

Please scalafmt
  core/shared/src/main/scala/scalaz/zio/IO.scala
Due: core

Run acc
  core/shared/src/main/scala/scalaz/zio/Semaphore.scala
Due: core

Fix docs
  microsite/src/main/tut/usage/main.md
Due: none

Remove list of exceptions from Interruption + various improvements
  core/jvm/src/main/scala/scalaz/zio/RTS.scala
  core/jvm/src/test/scala/scalaz/zio/AbstractRTSSpec.scala
  core/jvm/src/test/scala/scalaz/zio/GenIO.scala
  core/jvm/src/test/scala/scalaz/zio/IOSpec.scala
  core/jvm/src/test/scala/scalaz/zio/PromiseSpec.scala
  core/jvm/src/test/scala/scalaz/zio/QueueSpec.scala
  core/jvm/src/test/scala/scalaz/zio/RTSSpec.scala
  core/jvm/src/test/scala/scalaz/zio/SerializableSpec.scala
  core/shared/src/main/scala/scalaz/zio/Errors.scala
  core/shared/src/main/scala/scalaz/zio/ExitResult.scala
  core/shared/src/main/scala/scalaz/zio/Fiber.scala
  core/shared/src/main/scala/scalaz/zio/IO.scala
  core/shared/src/main/scala/scalaz/zio/Promise.scala
  core/shared/src/main/scala/scalaz/zio/Queue.scala
  interop/jvm/src/main/scala/scalaz/zio/interop/catsjvm.scala
  interop/shared/src/main/scala/scalaz/zio/interop/future.scala
  interop/shared/src/main/scala/scalaz/zio/interop/task.scala
Due: core, interop

Fix interruption logic
  core/jvm/src/main/scala/scalaz/zio/RTS.scala
Due: core

Fix onTermination + simplify code
  core/jvm/src/main/scala/scalaz/zio/RTS.scala
  core/shared/src/main/scala/scalaz/zio/ExitResult.scala
  core/shared/src/main/scala/scalaz/zio/IO.scala
Due: core

fmt
  core/shared/src/main/scala/scalaz/zio/ExitResult.scala
Due: core

Make onTermination and RefM use Cause[Nothing] instead of List[Throwable]
  core/shared/src/main/scala/scalaz/zio/ExitResult.scala
  core/shared/src/main/scala/scalaz/zio/IO.scala
  core/shared/src/main/scala/scalaz/zio/RefM.scala
Due: core

refactored code
  core/jvm/src/test/scala/scalaz/zio/QueueSpec.scala
  core/shared/src/main/scala/scalaz/zio/Queue.scala
Due: core

fmt -_-
  core/shared/src/main/scala/scalaz/zio/Queue.scala
Due: core

Apply suggested changes from PR review
  core/jvm/src/main/scala/scalaz/zio/RTS.scala
  core/jvm/src/test/scala/scalaz/zio/AbstractRTSSpec.scala
  core/jvm/src/test/scala/scalaz/zio/IOSpec.scala
  core/jvm/src/test/scala/scalaz/zio/RTSSpec.scala
  core/shared/src/main/scala/scalaz/zio/Errors.scala
  core/shared/src/main/scala/scalaz/zio/ExitResult.scala
  core/shared/src/main/scala/scalaz/zio/FiberFailure.scala
  core/shared/src/main/scala/scalaz/zio/IO.scala
  interop/jvm/src/test/scala/scalaz/zio/interop/futureSpec.scala
Due: core, interop

Path conditions:
  core: any of: core/
  interop: any of: interop/
