Repository zio/zio: changes, and which Codecov flags are due for each by the changed paths.
All: core, interop

fmt
  core/shared/src/main/scala/scalaz/zio/IO.scala
Due: core

first successg
  core/shared/src/main/scala/scalaz/zio/IO.scala
Due: core

improve testing time
  core/jvm/src/test/scala/scalaz/zio/AbstractRTSSpec.scala
  core/jvm/src/test/scala/scalaz/zio/RTSSpec.scala
  core/shared/src/main/scala/scalaz/zio/IO.scala
  interop-cats-laws/src/test/scala/scalaz/zio/interop/catzSpec.scala
Due: core

Add fs2 bracket tests
  build.sbt
  interop/jvm/src/test/scala/scalaz/zio/interop/Fs2ZioSpec.scala
Due: interop

Fix interrupt test
  interop/jvm/src/test/scala/scalaz/zio/interop/Fs2ZioSpec.scala
Due: interop

fmt
  build.sbt
Due: none

temporarily fix intermittent rts failure
  core/jvm/src/test/scala/scalaz/zio/RTSSpec.scala
Due: core

increase queue timeout
  core/jvm/src/test/scala/scalaz/zio/QueueSpec.scala
Due: core

fix packages and add imports
  core/jvm/src/main/scala/scalaz/zio/App.scala
  core/jvm/src/main/scala/scalaz/zio/RTS.scala
  core/shared/src/main/scala/scalaz/zio/Clock.scala
  core/shared/src/main/scala/scalaz/zio/Schedule.scala
  core/shared/src/main/scala/scalaz/zio/duration/Duration.scala
  core/shared/src/main/scala/scalaz/zio/duration/DurationConversions.scala
  interop/shared/src/main/scala/scalaz/zio/interop/task.scala
Due: core, interop

run every test and every suite sequentially, do not log buffered output
  project/ScalazBuild.scala
Due: none

improve logic of parWith
  core/jvm/src/main/scala/scalaz/zio/RTS.scala
  core/shared/src/main/scala/scalaz/zio/Fiber.scala
  core/shared/src/main/scala/scalaz/zio/IO.scala
Due: core

improve performance of tests
  core/jvm/src/test/scala/scalaz/zio/IOSyntaxSpec.scala
  core/jvm/src/test/scala/scalaz/zio/QueueSpec.scala
  core/shared/src/main/scala/scalaz/zio/IO.scala
  project/ScalazBuild.scala
Due: core

address PR feedback
  core/shared/src/main/scala/scalaz/zio/ExitResult.scala
  core/shared/src/main/scala/scalaz/zio/IO.scala
Due: core

FIX BUG FROM HELL
  core/shared/src/main/scala/scalaz/zio/IO.scala
  core/shared/src/main/scala/scalaz/zio/Promise.scala
Due: core

fix scaladoc
  core/jvm/src/main/scala/scalaz/zio/RTS.scala
Due: core

Move lockfree to internal
  benchmarks/src/main/scala/scalaz/zio/internal/BenchQueueType.scala
  benchmarks/src/main/scala/scalaz/zio/internal/BenchUtils.scala
  benchmarks/src/main/scala/scalaz/zio/internal/OfferBenchmark.scala
  benchmarks/src/main/scala/scalaz/zio/internal/PingPongBenchmark.scala
  benchmarks/src/main/scala/scalaz/zio/internal/PollBenchmark.scala
  benchmarks/src/main/scala/scalaz/zio/internal/ProducerConsumerBenchmark.scala
  benchmarks/src/main/scala/scalaz/zio/internal/RoundtripBenchmark.scala
  benchmarks/src/main/scala/scalaz/zio/internal/impls/JCToolsQueue.scala
  benchmarks/src/main/scala/scalaz/zio/internal/impls/JucBlockingQueue.scala
  benchmarks/src/main/scala/scalaz/zio/internal/impls/NotThreadSafeQueue.scala
  core/jvm/src/main/scala/scalaz/zio/internal/MutableConcurrentQueue.scala
  core/jvm/src/main/scala/scalaz/zio/internal/impls/JucCLQ.scala
  core/jvm/src/main/scala/scalaz/zio/internal/impls/RingBuffer.scala
  core/jvm/src/main/scala/scalaz/zio/internal/package.scala
Due: core

Use private[this] and final in RingBuffer impl
  benchmarks/src/main/scala/scalaz/zio/internal/ProducerConsumerBenchmark.scala
  core/jvm/src/main/scala/scalaz/zio/internal/impls/RingBuffer.scala
Due: core

Move nextPow2 under RingBuffer (not needed anywhere else)
  core/jvm/src/main/scala/scalaz/zio/internal/impls/RingBuffer.scala
  core/jvm/src/main/scala/scalaz/zio/internal/package.scala
Due: core

Fix tests
  core/jvm/src/test/scala/scalaz/zio/internal/RingBufferConcurrencyTests.scala
Due: core

clean timeouts around every example that extends AbstractRTSSpec
  core/jvm/src/test/scala/scalaz/zio/AbstractRTSSpec.scala
  core/jvm/src/test/scala/scalaz/zio/ClockSpec.scala
  core/jvm/src/test/scala/scalaz/zio/FiberLocalSpec.scala
  core/jvm/src/test/scala/scalaz/zio/IOSpec.scala
  core/jvm/src/test/scala/scalaz/zio/IOSyntaxSpec.scala
  core/jvm/src/test/scala/scalaz/zio/KleisliIOSpec.scala
  core/jvm/src/test/scala/scalaz/zio/ManagedSpec.scala
  core/jvm/src/test/scala/scalaz/zio/PromiseSpec.scala
  core/jvm/src/test/scala/scalaz/zio/QueueSpec.scala
  core/jvm/src/test/scala/scalaz/zio/RTSSpec.scala
  core/jvm/src/test/scala/scalaz/zio/RefMSpec.scala
  core/jvm/src/test/scala/scalaz/zio/RefSpec.scala
  core/jvm/src/test/scala/scalaz/zio/RetrySpec.scala
  core/jvm/src/test/scala/scalaz/zio/SemaphoreSpec.scala
  core/jvm/src/test/scala/scalaz/zio/SerializableSpec.scala
  interop/jvm/src/test/scala/scalaz/zio/interop/scalaz72Spec.scala
  project/ScalazBuild.scala
Due: core, interop

more scaladoc, improvements to raceWith, fast onInterrupt
  core/jvm/src/main/scala/scalaz/zio/RTS.scala
  core/shared/src/main/scala/scalaz/zio/Fiber.scala
  core/shared/src/main/scala/scalaz/zio/IO.scala
  core/shared/src/main/scala/scalaz/zio/Managed.scala
Due: core

Path conditions:
  core: any of: core/
  interop: any of: interop/
