Repository zio/zio: changes, and which Codecov flags are due for each by the changed paths.
All: core, interop

Add flatmap alias
  core/shared/src/main/scala/scalaz/zio/ZIO.scala
Due: core

added type aliased for StreamChunkPure and StreamChunk
  benchmarks/src/main/scala/scalaz/zio/StreamBenchmarks.scala
  core/jvm/src/test/scala/scalaz/zio/stream/ArbitraryStreamChunk.scala
  core/jvm/src/test/scala/scalaz/zio/stream/SinkSpec.scala
  core/jvm/src/test/scala/scalaz/zio/stream/StreamChunkSpec.scala
  core/shared/src/main/scala/scalaz/zio/stream/StreamChunkPureR.scala
  core/shared/src/main/scala/scalaz/zio/stream/StreamChunkR.scala
  core/shared/src/main/scala/scalaz/zio/stream/package.scala
Due: core

Add Stream#drain
  core/jvm/src/test/scala/scalaz/zio/stream/StreamSpec.scala
  core/shared/src/main/scala/scalaz/zio/stream/Stream.scala
Due: core

Stop creating promises in awaitShutdown
  core/shared/src/main/scala/scalaz/zio/Queue.scala
Due: core

Revert "Restore compatibility with Cats Effect Timer"
  interop-cats/jvm/src/main/scala/scalaz/zio/interop/catsjvm.scala
Due: none

Stream.drain instead of custom code
  interop-reactiveStreams/shared/src/main/scala/scalaz/zio/interop/reactiveStreams/Adapters.scala
Due: none

Do not signal onComplete if subscription has already been canceled.
  interop-reactiveStreams/shared/src/main/scala/scalaz/zio/interop/reactiveStreams/SubscriberHelpers.scala
Due: none

interop-reactiveStreams support conversions in both directions
  interop-reactiveStreams/jvm/src/test/scala/scalaz/zio/interop/reactiveStreams/PublisherToStreamTest.scala
  interop-reactiveStreams/jvm/src/test/scala/scalaz/zio/interop/reactiveStreams/SinkToSubscriberTest.scala
  interop-reactiveStreams/jvm/src/test/scala/scalaz/zio/interop/reactiveStreams/StreamToPublisherTest.scala
  interop-reactiveStreams/jvm/src/test/scala/scalaz/zio/interop/reactiveStreams/SubscriberToSinkTest.scala
  interop-reactiveStreams/shared/src/main/scala/scalaz/zio/interop/reactiveStreams.scala
  interop-reactiveStreams/shared/src/main/scala/scalaz/zio/interop/reactiveStreams/Adapters.scala
  interop-reactiveStreams/shared/src/main/scala/scalaz/zio/interop/reactiveStreams/QueueSubscriber.scala
  interop-reactiveStreams/shared/src/main/scala/scalaz/zio/interop/reactiveStreams/StreamPublisher.scala
  interop-reactiveStreams/shared/src/main/scala/scalaz/zio/interop/reactiveStreams/SubscriberHelpers.scala
Due: none

Simplify code
  core/shared/src/main/scala/scalaz/zio/Queue.scala
Due: core

Stream.lift => Stream.fromEffect
  interop-reactiveStreams/shared/src/main/scala/scalaz/zio/interop/reactiveStreams/Adapters.scala
Due: none

Testing summoning instances for cats with the R parameter. Removing property tests for R that did not make much sense and made it very difficult to test
  interop-cats/jvm/src/test/scala/scalaz/zio/interop/catzSpec.scala
Due: none

fix microsite
  microsite/src/main/tut/interop/reactivestreams.md
Due: none

Simplify even more
  core/shared/src/main/scala/scalaz/zio/Queue.scala
Due: core

Stop creating promises in Queue.awaitShutdown (#613)
  core/shared/src/main/scala/scalaz/zio/Queue.scala
Due: core

Add test cases for linear, fibonacci, exponential #197
  core/jvm/src/test/scala/scalaz/zio/RetrySpec.scala
Due: core

Add test cases for retryOrElse0 #197
  core/jvm/src/test/scala/scalaz/zio/RetrySpec.scala
Due: core

fix merge #197
  core/jvm/src/test/scala/scalaz/zio/RetrySpec.scala
Due: core

Adding proof of summoning ConcurrentEffect and Effect given a Runtime
  interop-cats/jvm/src/test/scala/scalaz/zio/interop/catzSpec.scala
Due: none

fix race condition with queue shutdown introduce Stream.fromTakeQueue
  core/shared/src/main/scala/scalaz/zio/stream/Stream.scala
  interop-reactiveStreams/shared/src/main/scala/scalaz/zio/interop/reactiveStreams/Adapters.scala
  interop-reactiveStreams/shared/src/main/scala/scalaz/zio/interop/reactiveStreams/QueueSubscriber.scala
  interop-reactiveStreams/shared/src/main/scala/scalaz/zio/interop/reactiveStreams/SubscriberHelpers.scala
Due: core

fmt
  core/shared/src/main/scala/scalaz/zio/stream/Stream.scala
Due: core

Fix scaladoc
  core/shared/src/main/scala/scalaz/zio/stream/Stream.scala
  interop-reactiveStreams/shared/src/main/scala/scalaz/zio/interop/reactiveStreams/Adapters.scala
Due: core

add interopReactiveStreamsJVM to travis scaladoc build
  .travis.yml
Due: none

refactored Schedule
  core/shared/src/main/scala/scalaz/zio/ScheduleR.scala
  core/shared/src/main/scala/scalaz/zio/package.scala
Due: core

updated site
  advanced/system.html
  getting_started.html
  index.html
  interop/catseffect.html
  interop/javascript.html
  overview/index.html
Due: interop

add Queue.isShutdown instead of polling a Fiber
  core/shared/src/main/scala/scalaz/zio/Queue.scala
  interop-reactiveStreams/shared/src/main/scala/scalaz/zio/interop/reactiveStreams/SubscriberHelpers.scala
Due: core

Revive STM
  core/shared/src/main/scala/scalaz/zio/STM.scala
Due: core

Improvements
  core/shared/src/main/scala/scalaz/zio/STM.scala
Due: core

Add test cases for retryOrElse0 #197 (#575)
  core/jvm/src/test/scala/scalaz/zio/RetrySpec.scala
Due: core

Report blocking thread interruption properly
  core/jvm/src/main/scala/scalaz/zio/blocking/Blocking.scala
  core/jvm/src/test/scala/scalaz/zio/RTSSpec.scala
Due: core

Better
  core/jvm/src/main/scala/scalaz/zio/blocking/Blocking.scala
Due: core

No need to lock on `barrier`
  core/jvm/src/main/scala/scalaz/zio/blocking/Blocking.scala
Due: core

implement STMSpec
  core/jvm/src/test/scala/scalaz/zio/STMSpec.scala
  core/shared/src/main/scala/scalaz/zio/STM.scala
Due: core

Nope
  core/jvm/src/main/scala/scalaz/zio/blocking/Blocking.scala
Due: core

One test to rule them both
  core/jvm/src/test/scala/scalaz/zio/RTSSpec.scala
Due: core

cosmetic changes
  core/shared/src/main/scala/scalaz/zio/stream/Stream.scala
  interop-reactiveStreams/shared/src/main/scala/scalaz/zio/interop/reactiveStreams/Adapters.scala
  interop-reactiveStreams/shared/src/main/scala/scalaz/zio/interop/reactiveStreams/QueueSubscriber.scala
  interop-reactiveStreams/shared/src/main/scala/scalaz/zio/interop/reactiveStreams/SubscriberHelpers.scala
Due: core

Path conditions:
  core: any of: core/
  interop: any of: interop/
