Repository zio/zio: changes, and which Codecov flags are due for each by the changed paths.
All: core, interop

.codecov.yml:

comment: off
coverage:
  status:
    project:
      default: off
    core:
        flags: core
        target: auto
        threshold: 100
        base: auto
    interop:
        flags: interop
        target: auto
        threshold: 100
        base: auto
    patch:
      default: off
      core:
        flags: core
        threshold: 100
        base: auto
      interop:
        flags: interop
        threshold: 100
        base: auto
flags:
  core:
    paths:
      - core/
  interop:
    paths:
      - interop/

Fix test after ZIO upgrade #16
  src/test/scala/scalaz/ioqueue/QueueSpec.scala
Due: none

Change offer signature and take sliding logic #16
  src/main/scala/scalaz/ioqueue/Queue.scala
  src/test/scala/scalaz/ioqueue/QueueSpec.scala
Due: none

Rebase on latest master #18
  .scalafmt.conf
  src/main/scala/scalaz/ioqueue/Queue.scala
  src/test/scala/scalaz/ioqueue/QueueSpec.scala
Due: none

Report RTS errors to the user
  core/jvm/src/main/scala/scalaz/zio/RTS.scala
Due: core

Don't throw errors on the floor
  core/shared/src/main/scala/scalaz/zio/IO.scala
Due: core

Fix rebase issues #16
  src/main/scala/scalaz/ioqueue/Queue.scala
  src/test/scala/scalaz/ioqueue/QueueSpec.scala
Due: none

Use cats-effect-1.0.0, add Bracket[Task]
  build.sbt
  interop-cats-laws/src/test/scala/scalaz/zio/interop/catzSpec.scala
  interop/jvm/src/main/scala/scalaz/zio/interop/catz.scala
  project/build.properties
Due: interop

Add Alternative checks
  interop-cats-laws/src/test/scala/scalaz/zio/interop/catzSpec.scala
  interop/jvm/src/test/scala/scalaz/zio/interop/scalaz72Spec.scala
Due: interop

cleanup, add asyncPure interrupt test
  core/jvm/src/test/scala/scalaz/zio/RTSSpec.scala
  interop/jvm/src/main/scala/scalaz/zio/interop/catz.scala
  interop/shared/src/main/scala/scalaz/zio/interop/task.scala
Due: core, interop

Add more overrides
  interop/jvm/src/main/scala/scalaz/zio/interop/catz.scala
Due: interop

Higher-performance override for bracket
  interop-cats-laws/src/test/scala/scalaz/zio/interop/catzSpec.scala
  interop/jvm/src/main/scala/scalaz/zio/interop/catz.scala
Due: interop

remove redundant .attempt
  interop/jvm/src/main/scala/scalaz/zio/interop/catz.scala
Due: interop

Add .uninterruptibly on Ref creation in bracket
  core/shared/src/main/scala/scalaz/zio/IO.scala
Due: core

Added failing tests for uninterruptible bracket.use
  core/jvm/src/test/scala/scalaz/zio/RTSSpec.scala
Due: core

swap 42 for symmetricity
  core/jvm/src/test/scala/scalaz/zio/RTSSpec.scala
Due: core

reorder parameters ._.
  core/jvm/src/test/scala/scalaz/zio/RTSSpec.scala
Due: core

Fix offerAll backpressure #16
  src/main/scala/scalaz/ioqueue/Queue.scala
Due: none

Format QueueSpec #16
  src/test/scala/scalaz/ioqueue/QueueSpec.scala
Due: none

Fix scalafmt #16
  .scalafmt.conf
  src/main/scala/scalaz/ioqueue/Queue.scala
Due: none

Make `use` interruptible in `bracket0`
  core/shared/src/main/scala/scalaz/zio/IO.scala
Due: core

Add tests
  core/jvm/src/test/scala/scalaz/zio/RTSSpec.scala
Due: core

Add temporary `Fiber.tryObserve`
  core/shared/src/main/scala/scalaz/zio/Fiber.scala
Due: core
