Repository zio/zio: changes, and which Codecov flags are due for each by the changed paths.
All: core, interop

Fix unit test
  src/test/scala/scalaz/ioqueue/QueueSpec.scala
Due: none

root project name set to scalaz-zio to make it more human-friendly when you open project with IDEs
  build.sbt
Due: none

Make method private Replace def by val
  src/main/scala/scalaz/ioqueue/Queue.scala
Due: none

Implement onShutdown Remove interruptPromise
  build.sbt
  src/main/scala/scalaz/ioqueue/Queue.scala
  src/test/scala/scalaz/ioqueue/QueueSpec.scala
Due: none

Convert sealed trait to sealed abstract class. Mark all classes Serializable
  core/jvm/src/main/scala/scalaz/zio/App.scala
  core/jvm/src/main/scala/scalaz/zio/RTS.scala
  core/shared/src/main/scala/scalaz/zio/Async.scala
  core/shared/src/main/scala/scalaz/zio/Clock.scala
  core/shared/src/main/scala/scalaz/zio/ExitResult.scala
  core/shared/src/main/scala/scalaz/zio/Fiber.scala
  core/shared/src/main/scala/scalaz/zio/IO.scala
  core/shared/src/main/scala/scalaz/zio/KleisliIO.scala
  core/shared/src/main/scala/scalaz/zio/Managed.scala
  core/shared/src/main/scala/scalaz/zio/Promise.scala
  core/shared/src/main/scala/scalaz/zio/Queue.scala
  core/shared/src/main/scala/scalaz/zio/Schedule.scala
  core/shared/src/main/scala/scalaz/zio/Semaphore.scala
Due: core

Remove offer sliding queue #16
  src/main/scala/scalaz/ioqueue/Queue.scala
Due: none

Fix linting
  core/shared/src/main/scala/scalaz/zio/Promise.scala
Due: core

Unbreak build - duplicate file names when merging 'shared' and 'platform' files
  .travis.yml
  interop/js/src/main/scala/scalaz/zio/interop/catsjs.scala
  interop/js/src/main/scala/scalaz/zio/interop/scalaz72js.scala
  interop/jvm/src/main/scala/scalaz/zio/interop/catsjvm.scala
  interop/jvm/src/main/scala/scalaz/zio/interop/scalaz72jvm.scala
Due: interop

updated site
  index.html
  interop.html
  usage/console.html
  usage/system.html
Due: none

Add initial Promise documentation
  microsite/src/main/tut/usage/promise.md
Due: none

Add some more documentation
  microsite/src/main/tut/usage/promise.md
Due: none

Added example usage
  microsite/src/main/tut/usage/promise.md
Due: none

Add link to the page
  microsite/src/main/resources/microsite/data/menu.yml
Due: none

Incorporate review comments
  core/shared/src/main/scala/scalaz/zio/Async.scala
  core/shared/src/main/scala/scalaz/zio/ExitResult.scala
  core/shared/src/main/scala/scalaz/zio/Fiber.scala
  core/shared/src/main/scala/scalaz/zio/Queue.scala
Due: core

#294: Configure RTS to use a dynamic thread pool
  core/jvm/src/main/scala/scalaz/zio/RTS.scala
Due: core

Add SerializableSpec
  core/jvm/src/test/scala/scalaz/zio/SerializableSpec.scala
Due: core

#294: Create named thread factory and move to private object
  core/jvm/src/main/scala/scalaz/zio/RTS.scala
Due: core

Consistent naming and substitution
  core/jvm/src/main/scala/scalaz/zio/RTS.scala
Due: core

scalafmt
  core/jvm/src/main/scala/scalaz/zio/RTS.scala
Due: core

update thread pool parameters
  core/jvm/src/main/scala/scalaz/zio/RTS.scala
Due: core

Path conditions:
  core: any of: core/
  interop: any of: interop/
